#wrapper{
  margin: auto;
  width: 65%;
  background-color: white;
  display:flow-root;
  position:relative;
}

@font-face {
  font-family: myFirstFont;
  src: url(MTCORSVA.woff);
}

main{
  margin:auto;
  display:flow-root;
}
a{
  color:black;
}
.main2{
  margin: auto;
  width:75%;
  background-color: red;
  position:relative;
}

.infoimage{
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
}
.infoimage:hover{
  opacity: 0.5;
}

#logo{
  float:left;
  overflow: auto;
}

header{
  margin: auto;
  width:100%;
  float:left;
}


ul {
  list-style-type: none;
  overflow:hidden;
  right:10px;
}


li {
  float:right;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 15px;
  display:flex;
  padding: 0 10px;
  border-left: solid 1px black;
}
li:last-child{
    border-left: none;
}

li a {
  display:inherit;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ab7d6a;
  color:white;
}

.active {
  color: #ab7d6a;
  background-color: #f1e2da ;

}

#mainimage{
  max-width: 75%;
  float:left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height:390px;
}

.maintext{
  background-color: rgba(56, 56, 56);
  font-size:18px;
  max-width: 30%;
  height: auto;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: "myFirstFont";
  color:rgb(227, 227, 227);
  position:absolute;
  padding:15px;
  text-align: justify;
  right:5px;
}

h1{
  background-color: black;
  max-width:45%;
  margin-top:175px;
  position:absolute;
  border-top-right-radius: 5px;
  border-bottom-right-radius:5px;
  background-color: rgba(87, 87, 87, .7);
  padding:15px;
}

h1#maintitle{
  color:white;
  text-align: justify;
  color:rgb(227, 227, 227)
}

.mainnews{
max-width: 100%;

}
table{
  width: 90%;
  margin:auto;
  margin-top:25px;
}
tr{
  margin:auto;
}

th p{
width:75%;
margin:auto;
font-family: "myFirstFont";
}

* {box-sizing: border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position:relative;
  margin:auto;
  float:left;
}
.mySlides{
  margin:auto;
  margin-left:25px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  padding: 16px;
  color: #ab7d6a;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;


}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev{
  left:0;
  border-radius: 3px 0 0 3px;
  margin-right:50px;

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(241,226,218,0.8);

}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Style the tab */
.tab {
  max-width:100%;
  float: left;
  border: none;
  outline: none;
  overflow: hidden;
}

/* Style the tab content */
.tabcontent {
  color:white;
  background-color: rgba(56, 56, 56);
  display: none;
  text-align: justify;
  float:left;
  padding:30px;
  border-radius:5px;
  margin-bottom: 50px;
}


figure{
  width:16%;
  float:left;
  border-radius: 2px;
}

figcaption{
  text-align: center;
  font-family: myFirstFont, sans-serif;
  font-size:14px;
  text-decoration: underline;

}

figure:hover{
  cursor: pointer;
}

.activity{
  color:white;
  background-color: rgba(56, 56, 56);
  padding-bottom: 10px;
  padding-left: 1px;
  padding-top: 2px;
}

footer{
  background-color: #404040;
  width:100%;
}
#SocialMedia{
  width:23%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.SM{
margin:auto;
width:13%;
}

#SocialMedia:hover {
  opacity:1;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.footer-content{
  padding-top:10px;
  width:60%;
  margin:auto;
  background-color: #404040;
}

#list-content{
  float:left;
  font-family: "Arial", cursive, sans-serif;
  font-size: 15px;
  margin-left:5%;
  border:none;
  color:#5b6063;

}

#list-content:hover{
  color:#f1e2da;
  opacity:0.75;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
* {
  box-sizing: border-box;
}
form.example{
  padding:25px;
}
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 2px solid grey;
  width: 75%;
  background: #f1f1f1;
  border-radius: 5px;
}

form.example button {
  width: 22%;
  padding: 10px;
  background: #ab7d6a;
  color: white;
  font-size: 17px;
  border: 2px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 5px;
}

form.example button:hover {
  background: #5b6063;
}
